In [1]:
#Naive_Bayes_Classifier on IRIS Dataset 
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("IRIS.csv")
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [3]:
#Spliting dependent and independent variables Y is Target Attribute which is species.
X =df.iloc[0:,:4].values
Y = df['species'].values

In [4]:
#Spliting Data for traning(80%) and testing(20%)
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.20)

In [34]:
#Featrure scaling to bring variable in a single scale
import time
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
start=time.time()
X_train = sc.fit_transform(X_train)
stop= time.time()
print(f"Training time: {stop - start}s")
start=time.time()
X_test = sc.transform(X_test)
stop= time.time()
print(f"Testing time: {stop - start}s")
X_test

Training time: 0.0009987354278564453s
Testing time: 0.0009996891021728516s

array([[-2.76556535e-01, -6.10640566e-01,  6.62633500e-01,
         1.06045704e+00],
       [ 8.79777408e-01, -1.56913830e-01,  3.85959805e-01,
         2.87654339e-01],
       [ 1.57357777e+00,  2.96812907e-01,  1.27131563e+00,
         8.02856139e-01],
       [ 6.48510620e-01, -8.37503934e-01,  8.83972456e-01,
         9.31656589e-01],
       [-1.60923140e-01,  3.01917333e+00, -1.21874763e+00,
        -1.00035016e+00],
       [ 7.64144014e-01, -6.10640566e-01,  4.96629283e-01,
         4.16454789e-01],
       [ 1.85977043e-01,  7.50539643e-01,  4.41294544e-01,
         5.45255239e-01],
       [-1.08599029e+00,  6.99495385e-02, -1.21874763e+00,
        -1.38675151e+00],
       [-4.52897461e-02, -8.37503934e-01,  7.73302978e-01,
         9.31656589e-01],
       [-1.60923140e-01, -6.10640566e-01,  4.41294544e-01,
         1.58853888e-01],
       [ 4.17243831e-01,  7.50539643e-01,  9.39307195e-01,
         1.44685839e+00],
       [-9.70356901e-01,  2.96812907e-01, -1.38475184e+00,
        -1.25795106e+00],
       [ 3.01610437e-01, -3.83777198e-01,  5.51964022e-01,
         2.87654339e-01],
       [-3.92189929e-01, -1.06436730e+00,  3.85959805e-01,
         3.00534384e-02],
       [ 1.85977043e-01, -1.56913830e-01,  6.07298761e-01,
         8.02856139e-01],
       [ 1.68921117e+00, -3.83777198e-01,  1.43731985e+00,
         8.02856139e-01],
       [-1.60923140e-01, -1.06436730e+00, -1.12052847e-01,
        -2.27547462e-01],
       [-3.92189929e-01, -1.51809404e+00, -1.38336848e-03,
        -2.27547462e-01],
       [-7.39090112e-01, -8.37503934e-01,  1.09286110e-01,
         2.87654339e-01],
       [-4.52897461e-02, -1.06436730e+00,  1.64620849e-01,
         3.00534384e-02],
       [-1.60923140e-01, -3.83777198e-01,  2.75290327e-01,
         1.58853888e-01],
       [-9.70356901e-01, -1.56913830e-01, -1.16341289e+00,
        -1.25795106e+00],
       [-1.20162369e+00, -1.56913830e-01, -1.27408237e+00,
        -1.12915061e+00],
       [-1.60923140e-01, -1.29123067e+00,  7.17968239e-01,
         1.06045704e+00],
       [ 4.17243831e-01, -3.83777198e-01,  3.30625066e-01,
         1.58853888e-01],
       [ 5.32877225e-01,  7.50539643e-01,  1.04997667e+00,
         1.57565884e+00],
       [ 7.64144014e-01, -1.56913830e-01,  1.16064615e+00,
         1.31805794e+00],
       [ 9.95410803e-01,  6.99495385e-02,  3.85959805e-01,
         2.87654339e-01],
       [-6.23456718e-01,  1.43112975e+00, -1.21874763e+00,
        -1.25795106e+00],
       [-1.08599029e+00,  6.99495385e-02, -1.21874763e+00,
        -1.38675151e+00]])

In [29]:
from sklearn.tree import DecisionTreeClassifier

In [7]:
dtree = DecisionTreeClassifier()

In [8]:
dtree.fit(X_train,y_train)

DecisionTreeClassifier()

In [9]:
predictions = dtree.predict(X_test)

In [10]:
from sklearn.metrics import classification_report,confusion_matrix

In [11]:
print(classification_report(y_test,predictions))

                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00         7
Iris-versicolor       0.93      1.00      0.96        13
 Iris-virginica       1.00      0.90      0.95        10

       accuracy                           0.97        30
      macro avg       0.98      0.97      0.97        30
   weighted avg       0.97      0.97      0.97        30

In [12]:
print(confusion_matrix(y_test,predictions))

[[ 7  0  0]
 [ 0 13  0]
 [ 0  1  9]]

In [13]:
#Descion_Tree_Classifier on Titanic Dataset

In [14]:
#Clean the dataset Manually by converting Catagorical Attributes into 0 and 1, and removed unrequire Attributes e.g Name,Caben etc

In [15]:
import pandas as pd
train_dataset = pd.read_csv("train_data.csv",index_col=0)

In [16]:
train_dataset.head(3)

   Pclass  Sex  Age  Fare  Embarked  Title  IsAlone
0       3    0    1     0         0      1        0
1       1    1    2     3         1      3        0
2       3    1    1     1         0      2        1

In [17]:
test_dataset = pd.read_csv("test_data.csv", index_col =0)

In [18]:
test_dataset.head(3)

   Pclass  Sex  Age  Fare  Embarked  Title  IsAlone
0       3    0    2     0         2      1        1
1       3    1    2     0         0      3        0
2       2    0   62     1         2      1        1

In [19]:
test_labels = pd.read_csv("test_labels.csv",index_col=0)
train_labels = pd.read_csv("train_labels.csv",index_col=0)
train_labels.head(3)
test_labels.head(3)

   Survived
0         0
1         1
2         0

In [35]:
#Featrure scaling to bring variable in a single scale
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
start=time.time()
train_dataset = sc.fit_transform(train_dataset)
stop=time.time()
print(f"Training time: {stop - start}s")
start=time.time()
test_dataset = sc.transform(test_dataset)
stop=time.time()
print(f"Testing time: {stop - start}s")
test_dataset

Training time: 0.0019969940185546875s
Testing time: 0.0019996166229248047s

array([[ 0.82816049, -0.73833521, -0.22749444, ...,  2.59034684,
        -0.70814698,  0.81267937],
       [ 0.82816049,  1.35439836, -0.22749444, ..., -0.56774725,
         1.23407432, -1.23049758],
       [-0.36837009, -0.73833521,  4.01419659, ...,  2.59034684,
        -0.70814698,  0.81267937],
       ...,
       [ 0.82816049, -0.73833521, -0.22749444, ..., -0.56774725,
        -0.70814698,  0.81267937],
       [ 0.82816049, -0.73833521, -0.22749444, ..., -0.56774725,
        -0.70814698,  0.81267937],
       [ 0.82816049, -0.73833521, -0.22749444, ...,  1.01129979,
         2.20518498, -1.23049758]])

In [25]:
from sklearn.tree import DecisionTreeClassifier
dtree = DecisionTreeClassifier()
dtree.fit(train_dataset,train_labels)
predictions = dtree.predict(test_dataset)

In [26]:
from sklearn.metrics import classification_report,confusion_matrix
print(classification_report(test_labels,predictions))

              precision    recall  f1-score   support

           0       0.62      0.74      0.67       266
           1       0.31      0.20      0.25       152

    accuracy                           0.55       418
   macro avg       0.46      0.47      0.46       418
weighted avg       0.51      0.55      0.52       418

In [27]:
print(confusion_matrix(test_labels,predictions))

[[197  69]
 [121  31]]

In [36]:
197+31

228

In [37]:
228/418

0.5454545454545454